.wrapper {
    padding: 0 20px;
}

@media (min-width:481px) {
    .wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {

        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    }
}