.slider {
    height: 100%;
    overflow: visible !important;
    z-index: 2 !important;
    position: relative;
}

/* swiper wrapper */
.slider>div {
    transition: var(--swiper-transition) !important;
    will-change: transform;
}

.sliderItem {
    max-height: 75vh;
    overflow: hidden;
    cursor: pointer;
    transition: transform var(--swiper-transition), box-shadow var(--swiper-transition);
}

.sliderImage {
    width: 300%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: -100%;
    transition: var(--swiper-transition) !important;
    will-change: transform;
}

.sliderItem.slideOpen {
    transform: rotate(-15deg) scale(1.45) !important;
    z-index: 3 !important;
    box-shadow: rgba(0, 0, 0, .75) 0 0 0 10000px;
}

@media (min-width:481px) {
    .slider {
        transform: rotate(15deg);
    }
}