.img {
    min-width: 301px;
    height: 447px;
    margin-right: 30px;
    object-fit: cover;
    object-position: 30% center;
    /* 
    transition: object-position 0.05s; */
}


@media screen and (min-width: 2000px) {
    .content {
        min-width: 1000px;
        padding-right: 4rem;
    }

    .img {
        min-width: 400px;
        height: 550px;
    }

    .viewButton {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1150px) {
    .viewButton {
        margin-top: 2rem;
    }
}


@media screen and (max-width: 1150px) {
    .wrapper {
        flex-direction: column;
    }

    .galleryImages {
        max-width: 100%;
        margin: 5rem 0;
    }

    .viewButton {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 850px) {
    .wrapper {
        padding: 4rem 0rem 4rem 4rem;
    }

    .viewButton {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        padding: 4rem 0rem 4rem 2rem;
    }

    .content {
        min-width: 100%;
    }

    .viewButton {
        margin-top: 1rem;
    }

    .img {
        min-width: 240px;
        height: 320px;
    }
}