.description {
    font-size: calc(var(--sizeindex) * .8);
    /* top: 200px;
    left: 8vw; */
    transition: opacity var(--swiper-transition), transform var(--swiper-transition);
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    display: inline-block;
    /* background: linear-gradient(45deg, DarkMagenta, Tomato, Violet); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: var(--accent-color);
    margin-bottom: 10px;

}

.description p {
    opacity: .9;
    transition: transform var(--swiper-transition);
    transition-duration: 3s;
    margin-bottom: 10px;
}

.description.hidden {
    opacity: 0;
    transform: translateY(5vh);
}

.description.hidden p {
    transform: translateY(2vh);
}