.wrapper {
    position: fixed;
    background-color: transparent;
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: all 0.3s linear;
}

.isScrolled {
    background-color: var(--navbar-bg-color);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.container {
    width: 100%;
    max-width: 1200px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* white; */
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: max-content;
    min-height: 80px;
    margin-left: 20px;
    font-size: 26px;
    font-weight: 700;
    transition: all 0.3s linear;
}

.logoScale {
    min-height: 40px;
    font-size: 20px;
}

.logo {
    width: 100%;
}

@media (max-width: 960px) {
    .wrapper {
        min-height: 70px;
    }

    .isScrolled {
        min-height: 70px;
    }

    .logoContainer {
        position: fixed;
        top: 1.3rem;
        font-size: 20px;
        min-height: 40px;
    }

    .logoScale {
        font-size: 20px;
    }

}