.wrapper {
    position: relative;
    background-image: url('assets/images/main/first.webp');
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 20px;
}

.description {
    width: 60%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 20px;
}

.btnContainer {
    display: flex;
}

.btnContainer>* {
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 0 3px !important;
}