.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    margin: 0 50px;
}

.headText {
    font-size: var(--font-title);
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.introduction {
    margin: 30px 0;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }
}